# -*- conf -*-

/libltdl/*

# Autotools crud
/config.guess
/config.log
/config.sub
install-sh
libtool
ltmain.sh
m4
compile
depcomp
missing
build
src/**/autoconf.h.in
src/**/Makefile.in
src/**/*.log
src/**/*.m4
src/**/autom4te.cache
src/**/config.status
src/**/configure.scan
src/**/.deps
src/**/stamp-h1
src/**/autoconf.h
src/**/config.sub
src/**/config.guess
src/libmegistos/Makefile
src/libmegistos/megistos
src/libmegistos/msgidx
src/**/*.mbk
src/**/mbk_*.h

# Global ignores
CVS
.cvsignore
*~
#*#
__pycache__
*.pyc
*.o
autom4te.cache
python/python
