Source: megistos
Section: devel
Priority: optional
Maintainer: Alexios Chouchoulas (Megistos Project) <megistos@vennea.demon.co.uk>
Build-Depends: debhelper (>> 3.0.0), autoconf (>= 2.50), automake1.6 (>= 1.6.3), libtool (<< 1.6.0), libtyphoon-dev (>= 1.10.3-2), libncurses4-dev | libncurses5-dev | libncursesw5-dev, gettext, gcc (>= 3.2.0)
Standards-Version: 3.5.2

Package: megistos-dev
Architecture: any
Depends: megistos (= ${Source-Version}), libc6-dev, libtyphoon-dev (>= 1.10.3-3), libncurses4-dev | libncurses5-dev | libncursesw5-dev
Description: Development files for Megistos BBS
 Megistos is a stable, multilingual, traditional BBS system written to
 resemble The Major BBS (R) from a user's point of view.
 .
 This is the C development toolkit for writing Megistos BBS applications
 (called modules) and for compiling the entire system.

Package: megistos
Architecture: any
Depends: ${shlibs:Depends}, make
Recommends: lrzsz, zip, unzip, arj, arc, zoo
Suggests: telnetd | telnetd-ssl, ssh
Description: A flexible Bulletin Board System
 Megistos is a stable, multilingual, traditional BBS system written to
 resemble The Major BBS (R) from a user's point of view.
