attrs
aiologger
cerberus
setuptools
jinja2
pyyaml
babel
scikit-image
colormath
pytest
pytest-cov

# toml
# beautifulsoup4>4.0.0
# Markdown
# pexpect
# pytest>4.0.0
# python-dateutil
# pytz
# requests
# requests-unixsocket
